.content {
	@apply mt-10 max-w-5xl w-full mx-auto;
}

.personsTitle{
	@apply mb-4
}

.persons {
	@apply flex overflow-x-auto p-3;
	&::-webkit-scrollbar {
			display: none;
		}
	-ms-overflow-style: none;
	scrollbar-width: none;

	.person {
		flex: 0 0 auto;
		width: 110px;
		margin-right: 40px;

		.img {
			width: 100%;
			height: auto;
			border-radius: 40px;
		}
		&:last-child {
		 margin-right: 0;
		}
	}
}