.header {
	// max-width: 1024px;
}
.nav {
	@apply w-full absolute top-0 z-50 flex justify-between p-8 transition-all duration-500 box-border;
}

.searchContainer {
	@apply relative;
}
.input {
	@apply bg-transparent border py-3 px-2 w-40 transition-all duration-500 rounded-md;
	&:focus {
		@apply w-60 outline-none;
	}
}
.cinemaIcon {
	@apply w-14 h-14 fill-current transition-all duration-300;
	filter: invert(90%);
	&:hover {
		filter: invert(70%) sepia(60%) saturate(1000%);
	}
}
.searchIcon {
	@apply absolute right-1 top-2 fill-current;
}

@media screen and (max-width: 576px) {
	.searchIcon {
		@apply h-6;
	}
}
