.header {
	// max-width: 1024px;
}
.nav {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	padding: 2em;
	transition: all .5s ease-in-out;
	box-sizing: border-box;
}

.searchContainer {
	@apply relative;
}
.input {
	@apply bg-transparent border py-3 px-2 w-40 transition-all duration-500 rounded-md;
	&:focus {
		@apply w-56;
	}
}
.cinemaIcon {
	@apply w-14 h-14 fill-current transition-all duration-300;
	filter: invert(90%);
	&:hover {
		filter: invert(70%) sepia(60%) saturate(1000%);
	}
}
.searchIcon {
	@apply absolute right-1 top-2 fill-current;
}