.wrapper {
	@apply relative h-4/5;
	.img {
		@apply absolute object-cover object-center;
	}
	.overlay {
		@apply absolute w-full h-full z-20;
		background: linear-gradient(0deg, rgb(20, 20, 20, 0.7) 0%, rgba(20, 20, 20, 0.46) 100%);
	}
	.loader {
		@apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-30;
	}
}

.content {
	@apply relative h-full z-20 bg-cover bg-center flex flex-col justify-center px-10 py-28 items-start;
	h1 {
		@apply text-5xl font-bold mb-16;
	}

	.link {
		@apply border py-3 px-5 mt-5 transition-all duration-500 rounded-sm;

		&:hover {
			@apply bg-orange-400 text-black;
		}
	}
	.description {
		@apply mt-6 line-clamp-5;
	}
	.raitings {
		@apply absolute bottom-10 right-10 flex gap-10 self-end;
	}
}

@media screen and (max-width: 576px) {
	.content {
		@apply px-8;
	}
}
