.wrapper {
	@apply w-full max-w-5xl box-border mx-auto;
}
.filmsCollection {
	@apply flex overflow-x-auto py-5 overflow-y-hidden;
	&::-webkit-scrollbar {
		display: none;
	}

	-ms-overflow-style: none;
	scrollbar-width: none;
}

@media screen and (max-width: 1024px) {
	.wrapper {
		max-width: 90vw;
	}
}

@media screen and (max-width: 576px) {
}
