.content {
	@apply mt-10 max-w-5xl w-full mx-auto;
}

.personsTitle{
	@apply mb-4
}

.persons {
	@apply flex overflow-x-auto p-3;
	&::-webkit-scrollbar {
			display: none;
		}
	-ms-overflow-style: none;
	scrollbar-width: none;

	.person {
		@apply w-28 mr-10;
		flex: 0 0 auto;

		.img {
			@apply w-full h-auto rounded-xl ;
		}
		&:last-child {
			@apply mr-0;
		}
	}
}